#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#schedule {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid rgb(39, 176, 255);
    width: 200px;
    position: absolute;
    margin-left: calc((100% - 200px)/2);
    margin-block-start: 2em;
    border-spacing: 0 0;
}

#schedule td {
    border: 1px solid #ddd;
    padding: 6px;
}

#schedule th:not(:first-child, :nth-child(2)) {
    border: 1px solid #ddd;
    padding: 6px;
    }

#schedule tr:nth-child(even){background-color: #f2f2f2;}

#schedule th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(39, 176, 255);
    color: white;
}

#schedule tr {
    height: 25px;
}

.main {
    overflow: hidden;
    position: relative;
}

.text {
    text-align: left;
    bottom: 1px;
    left: 1px;
}

.percentage {
    background-color: transparent;
    text-align: right;
}

.line {
    border-bottom: 1px solid red;
    transform: translateY(-30px) translateX(5px) rotate(145deg);
    position: absolute;
    z-index: -1;
}

.percentage>div {
    position: relative;
    z-index: 1;
}