#title {
    text-align: center;
    font-family: arial, sans-serif;
}

#schedule {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid rgb(39, 176, 255);
    width: 200px;
    margin-left: 45%;
    border-spacing: 0 0;
}

#schedule td {
    border: 1px solid #ddd;
    padding: 6px;
}

#schedule th:not(:first-child, :nth-child(2)) {
    border: 1px solid #ddd;
    padding: 6px;
    }

#schedule tr:nth-child(even){background-color: #f2f2f2;}

#schedule th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(39, 176, 255);
    color: white;
}