.contact-h1 {
    width: 40%;
    margin-left: 30%;
    height: 100%;
    text-align: center;
    margin-block-start: 0.5em;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #3f3f42;
}
.contact-h3 {
    width: 40%;
    margin-left: 30%;
    height: 100%;
    text-align: center;
    margin-block-start: 560px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #3f3f42;
}

#facultytable {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /*border-radius: 10px 10px 10px 10px;*/
    cursor: pointer;
    border: 3px solid var(--bg);
    width: 1000px;
    position: absolute;
    margin-left: calc((100% - 1000px)/2);
    margin-block-start: 2em;
    border-spacing: 0 0;
}

#facultytable td {
    border: 1px solid #ddd;
    padding: 6px;
    min-width: 200px;
}
/*#scheduletable th:not(:first-child, :nth-child(5)) {*/
/*    border: 1px solid #ddd;*/
/*    padding: 6px;*/
/*    }*/

/*#scheduletable tr:nth-child(even){background-color: #f2f2f2;}*/

#facultytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--bg);
    color: white;
}

#facultytable tr {
    height: 25px;
}

#professordropdown {
     -webkit-appearance: listbox;
     color: black;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-color: black;
    position: absolute;
    width: 230px;
    height: 30px;
    margin-left: calc((100% - 230px)/2);
    text-align-last:center;
    margin-block-start: 510px;

}

#professordropdown:invalid {
    color: #858484;
}

#buttonreserve {
    width: 20%;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    background: var(--bg-accent);
    margin-left: 40%;
    margin-top: 575px;
    position: relative;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    display: none;
}
#react-datepicker {
    font-family: "Helvetica Neue",helvetica,arial,sans-serif;
    font-size: .8rem;
    background-color: #fff;
    color: #000;
    border: 1px solid #aeaeae;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
}